#embed-help {cursor:pointer !important; margin-left:7px}
.rightfloat {float:right;}
.leftfloat {float:left;}
.spoiler  a {color: #000000 !important;}
.spoiler:hover  a {color: #ffffff !important;}
.spoiler * {opacity: 0;}
.spoiler:hover * {opacity: 1;}
#messagebuffer.linewrap img, #messagebuffer.linewrap video{max-width: 300px; max-height: 300px;}
.profile-image {max-width:125px; width:125px; height:auto; max-height:300px;}
.profile-box {max-width: 137px; max-height:500px;}
.modal-dialog {width: 90%;}
#messagebuffer {width: auto;padding-left: 0px;padding-right: 0px;}

#chanjs-deny { display: none;}

/* ----- Quality list ----- */

#qualitymenu .dropdown-menu {width:100% !important;min-width:50px !important;margin-top:0px;z-index: 1;}
#qualitymenu .header-drop-link {padding-left: 8px;}
#qualitymenu .header-drop-link:hover {text-decoration:none;color:#fff;background-color:#2a9fd6}

/* ----- PM box color ----- */

.panel-primary > .panel-heading {background-color:black !important;border-color: white !important;}
.panel-primary {border-color: white !important;}

/* ----- Schedule ----- */

#ScheduleTabscontent table {width:100%;}
#ScheduleTabscontent tr,#ScheduleTabscontent th, #ScheduleTabscontent td {border: 1px solid black;width:14.28%;}
#ScheduleTabscontent tr,#ScheduleTabscontent th {text-align:center;}
#ScheduleTabscontent td {text-align:left;}
#sVideoLink {color:yellow !important}
#sTLink {color:white !important}
#sAiring {font-weight: bold;background-color: #008000;color:white}
#sMarathon {font-weight: bold;background-color: blue;color:white}

/* ----- AFK ----- */
.userlist_afk > span {font-style:italic}

/* ----- Body and main container ----- */

body {overflow-x:hidden}
#mainpage {padding-top:52px}

/* ----- Main rows ----- */

#motdrow, #announcements, #main, #playlistrow {border:solid 2px transparent; margin-bottom:5px}
#main > div, #playlistrow > div {padding-left:5px; padding-right:5px; margin-top:5px; margin-bottom:5px}

/* ----- Brand ----- */

.navbar-brand {cursor:default}

/* ----- MOTD ----- */

#motdwrap {padding:10px;margin:5px -10px; border-color:black; box-shadow:none}
#togglemotd {margin-top:-5px}

/* ----- Announcements ----- */

#announcements .alert {margin:0px -10px 5px}

/* ----- Drinkbar ----- */

#drinkcount {margin:0px}

/* ----- Userlist ----- */
.userlist_item {cursor:pointer}

/* ----- Playlist row inner panes ----- */

#rightpane, #leftpane {margin-top:5px !important; margin-bottom:5px !important}

/* ----- Default left pane wells ----- */

#leftpane .well {margin-bottom:5px}

/* ----- Queue ----- */

.qe_title {margin-left:4px}
#queue {width:100% !important}

/* ----- Footer ----- */

#footer {height:auto}

/* ----- CyTube Plus selectors ----- */

#chanavatar {margin-right:3px; margin-top:-4px}
#azukirow {padding-left:5px; padding-right:5px; border-left:solid 2px transparent; border-right:solid 2px transparent;background:transparent; background-repeat:no-repeat !important; background-position:center center !important;margin:0px -8px; min-height:5px;}
#titlerow {background-position:0px center;background-size:0% 100%;background-repeat:no-repeat;margin:-5px -8px 5px;border-radius:4px;}
#titlerow #currenttitle {border:none;}
#coverpl {position:absolute; left:0px; top:0px; background-color:white;background-position:center center;}
#redirectPlayer {position:absolute; left:0px; top:0px; background-color:white;background-position:center center; cursor:pointer;}
#chatpanel {margin-top:0px; margin-bottom:0px}
#fontspanel{background-color: #1C1E22; text-align:center; max-width:625px; margin:0 auto 0 auto; border:solid 2px black; border-radius:6px}
#lookuppanel{background-color: #1C1E22; text-align:center; margin:0 auto 0 auto; border:solid 2px black; border-radius:6px;overflow: hidden;width:809px;height:431px;display:block}
#lookuplist {overflow-y:scroll;overflow-x:hidden;float:left;width:400px;height:400px;}
#lookupimage {float:left;width:405px;height: 400px;}
#emotelookupimg {max-width:400px;max-height:400px;position: relative;top: 50%;transform: translateY(-50%);}
#lookupbox {width:500px;text-align: left;}
#emotespanel {background-color: #1C1E22; text-align:center; max-width:2000px; margin:0px 0px 0px 0px; border:solid 2px black; border-radius:6px}
#fontsbtnwrap {margin-top:5px; margin-bottom:5px}
#unibtnwrap {margin-top:5px; margin-bottom:2px}
#emotespanel img {margin:1px; max-height:35px; cursor:pointer}
#mode-sel, #theme-sel{width:80%; margin:0px auto}
.theme-header {text-align:center; font-size:9pt; font-style:italic}
footer {padding-bottom:5px}
#leftfooter {font-size:10pt; margin-bottom:50px}
#rightfooter {float:right; margin-top:-50px}
#chatfunc-dropdown {position:absolute; top:22px; display:block; z-index:10000; padding:5px;overflow:auto; margin-right:5px;}

/* ----- Additional jQuery classes ----- */

.relative {position:relative}
.dist {background-color:gold; color:red; font-size:12pt; padding:3px}
.mX {-webkit-transform:scale(-1, 1); -moz-transform:scale(-1, 1);-ms-transform:scale(-1, 1); -o-transform:scale(-1, 1); transform:scale(-1, 1);}
.mY {-webkit-transform:scale(1, -1); -moz-transform:scale(1, -1);-ms-transform:scale(1, -1); -o-transform:scale(1, -1); transform:scale(1, -1);}
.rotate {-webkit-transform:rotate(90deg); -moz-transform:rotate(90deg);-ms-transform:rotate(90deg); -o-transform:rotate(90deg); transform:rotate(90deg);}
.vertical {-webkit-transform:rotate(270deg); -moz-transform:rotate(270deg);-ms-transform:rotate(270deg); -o-transform:rotate(270deg); transform:rotate(270deg);}
.spin, .spin2, .spintext{-webkit-animation: spin 5ms linear infinite;-moz-animation: spin 5ms linear infinite;animation: spin 5ms linear infinite;}
@-webkit-keyframes spin {100% {-webkit-transform: rotate(360deg); transform:rotate(360deg);}}
@-moz-keyframes spin {100% {-moz-transform: rotate(360deg); transform:rotate(360deg);}}
@keyframes spin {100% {-webkit-transform: rotate(360deg); transform:rotate(360deg);}}
.hflip {display: inline-block;-moz-transform: scale(-1, 1);-webkit-transform: scale(-1, 1);-o-transform: scale(-1, 1);-ms-transform: scale(-1, 1);transform: scale(-1, 1);}
.vflip {display: inline-block;-moz-transform: scale(1, -1);-webkit-transform: scale(1, -1);-o-transform: scale(1, -1);-ms-transform: scale(1, -1);transform: scale(1, -1);}
span.glyphicon.glyphicon-time {color: rgba(255,0,0,0) !important;background: url("https://i.imgur.com/gf7rfYv.png") !important;}
